.page {
    &--errors {
        .container-fluid {
            position: absolute;
            left: 50%;
            width: 100%;
            max-width: 600px;
            top: 50%;
            @include transform(translate(-50%, -50%));
        }
        .logo {
            margin: 0 auto;
            margin-bottom: 50px;
            width: 50%;
        }
        h4 {
            margin-top: 0px;
            margin-bottom: 30px;
        }
        .copyright {
            color: #aaa;
        }
        .panel-body {
            padding: 30px;
        }
    }
}