.main-header {
    .logo-lg {
        img {
            width: auto;
            padding: 8px 0;
            max-height: 50px;
            display: inline-block;
            margin: 0 auto;
        }
    }
    .navbar {
        .navbar-nav > .user-menu .user-image {
            margin-top: -1px;
        } 
        .navbar-nav > li > a {
            padding-top: 12px;
            padding-bottom: 12px;
            line-height: 25px;
            height: 50px;
        } 
    } 
    .dropdown-menu {
        min-width: 280px !important;
        width: auto !important;
    }
    .messages-menu {
        .dropdown-menu {
            .menu {
                a {
                    color: #444444 !important;
                    .pull-left {
                        padding: 5px 13px;
                        .fa {
                            font-size: 16px;  
                        }
                    }
                }
            }
        }
    }
    .external-data-menu {
        font-size: 14px;
        .dropdown-menu {
            min-width: 250px;    
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .header {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #ffffff;
            padding: 7px 10px;
            border-bottom: 1px solid #f4f4f4;
            color: #444444;
        }
        .footer {
            clear: both;
            overflow: hidden;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: #fff;
            padding: 7px 10px;
            border-bottom: 1px solid #eeeeee;
            color: #444 !important;
            li {
                clear: both;
                overflow: hidden;
            }
        }
        .menu {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow-x: hidden;    
            border-bottom: 1px solid #f4f4f4;
            li {
                padding: 3px 10px;
                vertical-align: middle;
                clear: both;
                overflow: hidden;
            }
        }
    }
}