.filters-cloud {
    i {
        &:hover {
            cursor: pointer;
        }
    }
}
.more-filters {
    max-height: 0;
    overflow: hidden;
    transition: max-height cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
    &.active {
        max-height: 1000px;
        transition: max-height cubic-bezier(0.7, 0, 0.3, 1) 0.5s
    }
}

.current-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
