.opziona-prodotto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px 25px 25px 25px;
    width: 400px;
    border: 1px solid $secondary;
    z-index: 9999;

    .item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .close-icon {
        align-self: flex-end;
        transform: translateX(15px);
        &:hover {
            cursor: pointer;
        }
    }
    table,th,td {
        border: 1px solid grey;
        border-collapse: collapse;
    }
    th,td {
        text-align: center;
        padding: 5px;
    }
    table {
        thead {
            background: $primary;
        }
    }

    .no-options-msg {
        text-align: center;
        font-size: 18px;
        color: #F85E00;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        .btn.btn-primary {
            background: $primary;
            min-width: 100px;
            text-align: center;
            padding: 5px;
        }
    }
}
