.noUi-handle {
    background-color: $primary !important;
    cursor: pointer !important;
    box-shadow: unset !important;
    border: 1px solid $secondary !important;
    width: 28px !important;
    top: -9px !important;

    &:after, &:before {
        content: unset !important;
    }
    .noUi-tooltip {
        bottom: -35px !important;
    }

}
.noUi-connect {
    background-color: $primary !important;
}
.filter-bar .filter-price {
    background-color: $secondary !important;
    box-shadow: unset !important;
    border: 1px solid $primary !important;
}
