$color__tab: white;
$color__tab-active: $primary;
$background__main: #dce2e2;
$color__light: #fff;
$width__max: '100%';
$padding: 1rem;
$border__radius: 3px;
$lighten__level: 6;
$darken__level: 6;
@mixin tab-active() {
    background: $color__tab-active;
    color: $color__light;
}


.ootb-tabcordion {
    background: $color__light;
    max-width: $width__max;
    margin: $padding auto $padding*4 auto;
    border-radius: $border__radius;
    &.has-tabs {
        .ootb-tabcordion--tabs {
            opacity: 1;
            height: auto;
            visibility: visible;
        }

        .ootb-tabcordion--entry {
            min-height: 0;

            &::before {
                display: none;
            }

            &.is-active {
                .ootb-tabcordion--entry-content {
                    opacity: 1;
                    transition: opacity 400ms ease-in-out;
                }
            }
            .ootb-tabcordion--entry-content {
                opacity: 0;
                transition: opacity 400ms ease-in-out;
            }
        }


    }
}

.ootb-tabcordion--tabs {
    opacity: 0;
    height: 0;
    visibility: hidden;
    display: flex;
    flex-flow: wrap;
    margin: 0;
    list-style: none;
    padding: 0;
    position: relative;
    &:after {
        content:"";
        width: 100%;
        height: 2px;
        background-color: $secondary;
        position: absolute;
        bottom:0;
        left:0;
    }
    .tab {
        display: block;
        background: $color__tab;
        color: $secondary;
        padding: #{$padding/2} $padding;
        border-radius: 0;
        border-top-left-radius: $border__radius;
        border-top-right-radius: $border__radius;
        margin: 0 0 1px 0;
        //border: none;
        border: 1px solid $secondary;
        //border-right: 1px solid #fff; // Set the disstance with border instead of margin, for more accurate JS calculation of the width
        cursor: pointer;
        max-width: 300px;
        &:hover,
        &:focus {
            background: lighten($color__tab, $lighten__level);
            outline: none;
        }

        &.is-active {
            background: $color__tab-active;
            color: $secondary;
            &:hover,
            &:focus {
                background: $color__tab-active;
            }
        }
    }
}

.ootb-tabcordion--entry {
    overflow: hidden;
    &::before {
        position: relative;
        content: attr(data-title);
        cursor: pointer;
        z-index: 1;
        background: $secondary;
        color: $primary;
        padding: #{$padding/2} $padding;
        display: block;
        border-radius: $border__radius;
    }

    &:hover,
    &:focus {
        outline: none;
        &::before {
            background: $primary;
            color: $secondary;
        }
    }

    &.is-active {
        .ootb-tabcordion--entry-content {
            margin-top: 0;
            height: auto;
            opacity: 1;
            transition: margin 400ms ease-out -100ms;
            padding: 0;
        }

        &::before {
            background: $color__tab-active;
        }
        &:hover,
        &:focus {
            &::before {
                background: $primary;
                color: $secondary;
            }
        }
    }
}

.ootb-tabcordion--entry-container {
    overflow: hidden;
    margin-bottom: 1px;
}

.ootb-tabcordion--entry-content {
    position: relative;
    margin-top: -100%;
    height: 0;
    opacity: 0;
    transition: margin 500ms ease-in;
    padding: $padding;
    a.more {
        color: $color__tab;
        &:hover {
            color: $color__tab-active;
        }
    }
}
