// Source: https://getbootstrap.com/docs/3.3/css/
$xs: max-width 767px;
$sm: max-width 991px;
$md: max-width 1199px;
$lg: 1200px;

// http://chir.ag/projects/name-that-color/
$green-haze: #00a157;

$primary-color: $green-haze;

$main-transition: .5s ease;
$main-text-shadow: 1px 1px 1px black;

